.about {
    text-align: center;
    margin: 125px 0;
}
.about h1 {
    text-transform: uppercase!important;
    letter-spacing: 1px!important;
}
.about ul {
    list-style: none;
}
.about ul li {
    margin: 10px 0;
    font-size: 16px;
}
.about-header {
    margin-bottom: 30px;
}

.beds-container {
    display: flex;
    max-width: 1000px;
    margin: auto;
}
.bed-wrapper {
    width: 50%;
    padding: 10px;
}
.bed-wrapper:nth-child(2) {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
}
.bed {
    position: relative;
}
.bed .bed-image {
    width: 100%;
}
.bed .bed-header {
    position: absolute;
    bottom: 5px;
    width: 100%;
    color:#fff;
    background-color: rgba(0,0,0,0.5);
    padding: 10px 30px;
    font-size: 15px;
    font-weight: 400;
    letter-spacing: 2px;
    text-transform: uppercase;
}

@media (max-width: 930px) {
    .beds-container {
        flex-direction: column;
        flex-wrap: wrap;
        align-content: center;
    }
    .bed-wrapper {
        width: 80%;
        margin-right: 0;
    }
    .bed-wrapper:nth-child(2) {
        gap: 20px;
    }
    .bed .bed-header {
        font-size: 20px;
    }
}
