.about {
    text-align: center;
    margin: 125px 0;
}


.about h1 {
    text-transform: uppercase!important;
    letter-spacing: 1px!important;
}

.about ul {
    list-style: none;
}
.about ul li {
    margin: 10px 0;
    font-size: 16px;
}

.about-header {
    margin-bottom: 30px;
}

.beds-wrapper {
    max-width: 1496px;
    display: flex;
    justify-content: center;
    padding: 0 5px;
    margin-right: auto;
    margin-left: auto;
}

.bed-first-part{
    max-width: 44%;
    margin-right: 15px;
}

.bed-second-part {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-wrap: wrap;
    max-width: 25%;
}

.bed-wrapper {
    margin-top: 8px;
    vertical-align: middle;
    width: 100%;
}

.bed-content{
    position: relative;
    overflow: hidden;
}
.bed-content .bed-with-name {
    transform: scale(1.5);
    object-position: -12px 16px;
}

.bed-wrapper h2 {
    position: absolute;
    bottom: 0;
    width: 100%;
    color:#fff;
    background-color: rgba(0,0,0,0.5);
    padding: 10px 30px;
    font-size: 15px;
    font-weight: 400;
    letter-spacing: 2px;
    text-transform: uppercase;
} 

@media (max-width: 930px) {
    .beds-wrapper {
        flex-direction: column;
        align-items: center;
    }
    .beds-wrapper .bed-first-part {
        max-width: 80%;
        margin-right: 0;
    }
    .beds-wrapper .bed-second-part {
        max-width: 80%;
    }
    .beds-wrapper h2 {
        font-size: 20px;
    }
}